@{
    this.ViewData["title"] = "SERVICE";
    this.Layout = "/Views/Shared/_Layout.cshtml";
}



<div class="mb-5">


    <div class="mx-auto pt-4 " style="width: 270px;">
    <h1 class="center">Out Of Service</h1>
</div>
    <img src="/images/service.jpg" class="img-fluid" alt="...">

</div>


